# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Metro
.metro-health-check*

# Environment
# .env
# .env.*
# !.env.example

# OS & editors
.DS_Store
*.log
.idea/
.vscode/*
!.vscode/extensions.json

# Turbo
.turbo/

# Testing / coverage
coverage/

# TypeScript
*.tsbuildinfo
